@inject ViewOrganizerReviewsService ViewOrganizerReviewsService
<div class="d-flex align-items-center mb-2">
    <span class="fw-bold me-3">@organizer?.Name</span>
    <div class="d-flex align-items-center">
        <div class="stars">
            @for (int i = 1; i <= 5; i++)
            {
                <span class="star @(i <= averageRating ? "selected" : "")">&#9733;</span>
            }
        </div>
        <a class="ms-2 text-muted" href="/org/@OrganizerId/reviews">(@totalReviews Değerlendirme)</a>
    </div>
</div>



@code {
    [Parameter]
    public int OrganizerId { get; set; }

    private User? organizer;

    private int averageRating;

    private int totalReviews;

    protected override async Task OnParametersSetAsync()
    {
        organizer = await ViewOrganizerReviewsService.GetUserByIdAsync(OrganizerId);

        var result = await ViewOrganizerReviewsService.GetOrganizerAverageRatingAsync(OrganizerId);

        totalReviews = result.reviewCount;
        averageRating = result.averageRating;

    }
}
